﻿@model Payper.ViewModels.CompanyViewModel
@{
    ViewBag.Title = "Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<style type="text/css">
    .wizard-step {
        display: none;
    }

    .display-field {
        font-weight: bold;
    }
</style>
<h2>Company Setup</h2>
<div>
    @using (Html.BeginForm("index", "Company"))
    {
        @Html.ValidationSummary(true, "ValidationSummary")
        <fieldset>
            <div class="wizard-step">
                <table class="table">
                    <thead></thead>
                    <tr>
                        <td>@Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.EditorFor(model => model.company.Name, new { htmlAttributes = new { @class = "form-control" } })
                            <br>
                            @Html.ValidationMessageFor(model => model.company.Name, "", new { @class = "text-danger" })
                        </td>
                        <td>@Html.Label("Short Name", htmlAttributes: new { @class = "control-label" })</td>
                        <td>
                            @Html.EditorFor(model => model.company.ShortName, new { htmlAttributes = new { @class = "form-control" } })
                            <br> @Html.ValidationMessageFor(model => model.company.ShortName, "", new { @class = "text-danger" })
                        </td>

                    </tr>
                    <tr>
                        <td>@Html.Label("Print Name", htmlAttributes: new { @class = "control-label col-md-10" })</td>
                        <td>
                            @Html.EditorFor(model => model.company.PrintName, new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                        <td>@Html.Label("Address", htmlAttributes: new { @class = "control-label" })</td>
                        <td>
                            @Html.EditorFor(model => model.company.Address, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.company.Address, "", new { @class = "text-danger" })
                        </td>

                    </tr>
                    <tr>
                        <td>@Html.Label("WebSite", htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.EditorFor(model => model.company.Website, new { htmlAttributes = new { @class = "form-control" } })

                        </td>
                        <td>@Html.Label("TelePhone", htmlAttributes: new { @class = "control-label" })</td>
                        <td>
                            @Html.EditorFor(model => model.company.TelePhone, new { htmlAttributes = new { @class = "form-control" } })

                        </td>

                    </tr>
                    <tr>
                        <td>@Html.Label("PIN No", htmlAttributes: new { @class = "control-label col-md-10" })</td>
                        <td>
                            @Html.EditorFor(model => model.company.PinNumber, new { htmlAttributes = new { @class = "form-control" } })

                        </td>
                        <td>@Html.Label("VAT No", htmlAttributes: new { @class = "control-label" })</td>
                        <td>
                            @Html.EditorFor(model => model.company.VatNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.company.VatNumber, "", new { @class = "text-danger" })
                        </td>

                    </tr>
                    <tr>
                        <td>@Html.Label("NSSF No", htmlAttributes: new { @class = "control-label col-md-10" })</td>
                        <td>
                            @Html.EditorFor(model => model.company.NssfNumber, new { htmlAttributes = new { @class = "form-control" } })

                        </td>
                        <td>@Html.Label("NHIF No", htmlAttributes: new { @class = "control-label" })</td>
                        <td>
                            @Html.EditorFor(model => model.company.NhifNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.company.NhifNumber, "", new { @class = "text-danger" })
                        </td>

                    </tr>
                    <tr>
                        <td>@Html.Label("LIC No", htmlAttributes: new { @class = "control-label col-md-10" })</td>
                        <td>
                            @Html.EditorFor(model => model.company.LicNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.company.LicNumber, "", new { @class = "text-danger" })
                        </td>
                        <td>@Html.Label("DIT No", htmlAttributes: new { @class = "control-label" })</td>
                        <td>
                            @Html.EditorFor(model => model.company.DitNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.company.DitNumber, "", new { @class = "text-danger" })
                        </td>

                    </tr>

                </table>
            </div>

            <div class="wizard-step">
                <table class="table">
                    <thead></thead>
                    <tr>
                        <td>@Html.Label("Bank Name", htmlAttributes: new { @class = "control-label col-md-10" })</td>
                        <td>
                            @Html.EditorFor(model => model.bank.Name, new { htmlAttributes = new { @class = "form-control" } })
                            <br>@Html.ValidationMessageFor(model => model.bank.Name, "", new { @class = "text-danger" })
                        </td>
                        <td>@Html.Label("Branch", htmlAttributes: new { @class = "control-label col-md-10" })</td>
                        <td>
                            @Html.EditorFor(model => model.bank.Branch, new { htmlAttributes = new { @class = "form-control" } })
                            <br>@Html.ValidationMessageFor(model => model.bank.Branch, "", new { @class = "text-danger" })
                        </td>

                    </tr>
                    <tr>
                        <td>@Html.Label("Address", htmlAttributes: new { @class = "control-label col-md-10" })</td>
                        <td>
                            @Html.EditorFor(model => model.bank.Address, new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                        <td>@Html.Label("Town", htmlAttributes: new { @class = "control-label col-md-10" })</td>
                        <td>
                            @Html.EditorFor(model => model.bank.Town, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.bank.Town, "", new { @class = "text-danger" })
                        </td>

                    </tr>
                    <tr>
                        <td>@Html.Label("Bank Code", htmlAttributes: new { @class = "control-label col-md-10" })</td>
                        <td>
                            @Html.EditorFor(model => model.bank.BankCode, new { htmlAttributes = new { @class = "form-control" } })

                        </td>
                        <td>@Html.Label("Branch Code", htmlAttributes: new { @class = "control-label col-md-10" })</td>
                        <td>
                            @Html.EditorFor(model => model.bank.BranchCode, new { htmlAttributes = new { @class = "form-control" } })

                        </td>


                    </tr>
                    <tr>
                        <td>@Html.Label("Sender ID", htmlAttributes: new { @class = "control-label col-md-10" })</td>
                        <td>
                            @Html.EditorFor(model => model.bank.SenderId, new { htmlAttributes = new { @class = "form-control" } })

                        </td>
                        <td>@Html.Label("Receiver ID", htmlAttributes: new { @class = "control-label col-md-10" })</td>
                        <td>
                            @Html.EditorFor(model => model.bank.RecieverId, new { htmlAttributes = new { @class = "form-control" } })

                        </td>

                    </tr>
                    <tr>
                        <td>@Html.Label("Account No", htmlAttributes: new { @class = "control-label col-md-10" })</td>
                        <td>
                            @Html.EditorFor(model => model.bank.AccountNumber, new { htmlAttributes = new { @class = "form-control" } })
                            <br>@Html.ValidationMessageFor(model => model.bank.AccountNumber, "", new { @class = "text-danger" })
                        </td>
                        <td>@Html.Label("Account Name", htmlAttributes: new { @class = "control-label col-md-10" })</td>
                        <td>
                            @Html.EditorFor(model => model.bank.AccountName, new { htmlAttributes = new { @class = "form-control" } })

                        </td>

                    </tr>


                </table>
            </div>


            <div class="col-md-offset-6 col-md-20">

                <input type="button" id="Cancel" name="Cancel" value=" Cancel " onclick="location.href='@Url.Action("Index", "Home")'" />
                <input type="button" id="back-step" name="back-step" value="< Back" />
                <input type="button" id="next-step" name="next-step" value="Next >" />
            </div>
        </fieldset>


    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script>
            $(document).ready(function () {

                {
                    $(".wizard-step:first").fadeIn(); // show first step


                    // attach backStep button handler
                    // hide on first step
                    $("#back-step").hide().click(function () {
                        var $step = $(".wizard-step:visible"); // get current step
                        if ($step.prev().hasClass("wizard-step")) { // is there any previous step?
                            $step.hide().prev().fadeIn();  // show it and hide current step

                            // disable backstep button?
                            if (!$step.prev().prev().hasClass("wizard-step")) {
                                $("#back-step").hide();
                            }
                        }
                    });


                    // attach nextStep button handler
                    $("#next-step").click(function () {
                        //alert('sdsadf');
                        var $step = $(".wizard-step:visible"); // get current step

                        var validator = $("form").validate(); // obtain validator
                        var anyError = false;
                        $step.find("input").each(function () {
                            if (!validator.element(this)) { // validate every input element inside this step
                                anyError = true;
                            }

                        });

                        if (anyError)
                            return false; // exit if any error found




                        if ($step.next().hasClass("confirm")) { // is it confirmation?
                            // show confirmation asynchronously
                            $.post("/wizard/confirm", $("form").serialize(), function (r) {
                                // inject response in confirmation step
                                $(".wizard-step.confirm").html(r);
                            });

                        }

                        if ($step.next().hasClass("wizard-step")) { // is there any next step?
                            $step.hide().next().fadeIn();  // show it and hide current step
                            $("#back-step").show();   // recall to show backStep button
                        }

                        else { // this is last step, submit form
                            $("form").submit();
                        }


                    });

                }
            });
        </script>

    }


</div>

@*<div class="boxedForm">

        @using (Html.BeginForm())
        {
            Html.EnableClientValidation(true);

            <ul style="margin-top:50px;">
                <li style="width: 370px">
                    @Html.LabelFor(m => m.company.Name)
                    @Html.EditorFor(m => m.company.Name)

                </li>
                <li style="width: 370px;margin-top:10px;">
                    @Html.LabelFor(m => m.bank.Name)
                    @Html.EditorFor(m => m.bank.Name)
                    @Html.ValidationMessageFor(m => m.bank.Name)
                </li>
            </ul>
            <div class="action">
                <button class="actionButton" type="submit">
                    <span>Save</span>
                </button>
            </div>
        }

    </div>*@
