﻿@model Payper.Models.Company

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrintName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Town)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Town)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PinNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PinNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VatNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VatNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NssfNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NssfNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhifNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhifNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LicNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DitNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DitNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
