﻿@model IEnumerable<Payper.Models.Company>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrintName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Town)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PinNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VatNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NssfNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhifNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LicNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DitNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrintName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Town)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Website)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PinNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VatNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NssfNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhifNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DitNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
